@import "dropify-font";

$dropify-width:       100% !default;
$dropify-height:      170px !default;
$dropify-font-family: "Roboto" !default;
$dropify-font-size:   14px !default;
$dropify-line-height: 22px !default;
$dropify-text-color:  #777 !default;
$dropify-background:  #FFF !default;
$dropify-stripes:     #F9F9F9 !default;

.dropify-wrapper {
    display: block;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    width: $dropify-width;
    max-width: 100%;
    height: $dropify-height;
    padding: 5px 10px;
    font-family: $dropify-font-family;
    font-size: $dropify-font-size;
    line-height: $dropify-line-height;
    color: $dropify-text-color;
    background-color: $dropify-background;
    background-image: none;
    text-align: center;
    border: 2px solid #DDD;

    &:hover {
        background-size: 30px 30px;
        background-image: linear-gradient(
            -45deg,
            $dropify-stripes 25%,
            transparent      25%,
            transparent      50%,
            $dropify-stripes 50%,
            $dropify-stripes 75%,
            transparent      75%,
            transparent
        );
        animation: stripes 2s linear infinite;
    }

    &.has-preview {
        .dropify-clear {
            display: block;
        }
    }

    input {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        cursor: pointer;
        z-index: 100;
    }

    .dropify-message {
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        span.file-icon {
            @extend .dropify-font;
            @extend .dropify-font-upload;
            font-size: 50px;
            color: rgba(0, 0, 0, 0.2);
        }

        p {
            margin: 5px 0 0 0;
        }
    }

    .dropify-clear {
        display: none;
        position: absolute;
        opacity: 0;
        z-index: 110;
        top: 10px;
        right: 10px;
        background: none;
        border: 2px solid #FFF;
        text-transform: uppercase;
        font-family: $dropify-font-family;
        font-size: 11px;
        padding: 4px 8px;
        font-weight: bold;
        color: #FFF;
        transition: all 0.15s linear;

        &:hover {
            background: transparentize(#FFF, 0.8);
        }
    }

    .dropify-preview {
        display: none;
        position: absolute;
        z-index: 50;
        background-color: $dropify-background;
        padding: 5px;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        text-align: center;


        .dropify-render {
            img {
                top: 50%;
                transform: translate(0, -50%);
                position: relative;
                max-width: 100%;
                max-height: 100%;
                background-color: $dropify-background;
                transition: border-color 0.15s linear;
            }

            .file-icon {
                @extend .dropify-font;
                @extend .dropify-font-file;
                font-size: 40px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
                color: #777;
            }
        }

        .dropify-infos {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 90;
            background: rgba(0, 0, 0, 0.6);
            opacity: 0;
            transition: opacity 0.15s linear;

            .dropify-infos-inner {
                position: absolute;
                top: 50%;
                transform: translate(0, -40%);
                backface-visibility: hidden;
                width: 100%;
                padding: 0 20px;
                transition: all 0.2s ease;

                p {
                    padding: 0;
                    margin: 0;
                    position: relative;
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: #FFF;
                    text-align: center;
                    line-height: 25px;

                    &.dropify-filename {
                        span.file-icon {
                            @extend .dropify-font;
                            @extend .dropify-font-file;
                            margin-right: 2px;
                        }
                    }

                    &.dropify-infos-message {
                        margin-top: 15px;
                        padding-top: 15px;
                        font-size: 12px;
                        position: relative;
                        opacity: 0.5;

                        &::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 50%;
                            transform: translate(-50%, 0);
                            background: #FFF;
                            width: 30px;
                            height: 2px;
                        }
                    }
                }
            }

        }
    }

    &:hover {
        .dropify-clear {
            opacity: 1;
        }

        .dropify-preview {
            .dropify-infos {
                opacity: 1;

                .dropify-infos-inner {
                    margin-top: -5px;
                }
            }
        }
    }

    &.touch-fallback {
        height: auto !important;
        
        &:hover {
            background-image: none;
            animation: none;
        }

        .dropify-preview {
            position: relative;
            padding: 0;

             .dropify-render {
                display: block;

                .file-icon {
                    position: relative;
                    transform: translate(0, 0);
                    top: 0;
                    left: 0;

                    &::before {
                        margin-top: 30px;
                        margin-bottom: 30px;
                    }
                }

                img {
                    position: relative;
                    transform: translate(0, 0);
                }
            }

            .dropify-infos {
                position: relative;
                opacity: 1;
                background: transparent;

                .dropify-infos-inner {
                    position: relative;
                    top: 0;
                    transform: translate(0, 0);
                    padding: 5px 90px 5px 0;

                    p {
                        padding: 0;
                        margin: 0;
                        position: relative;
                        width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        color: $dropify-text-color;
                        text-align: left;
                        line-height: 25px;

                        &.dropify-filename {
                            font-weight: bold;
                        }

                        &.dropify-infos-message {
                            margin-top: 0;
                            padding-top: 0;
                            font-size: 11px;
                            position: relative;
                            opacity: 1;

                            &::before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        .dropify-message {
            transform: translate(0, 0);
            padding: 40px 0;
        }

        .dropify-clear {
            top: auto;
            bottom: 23px;
            opacity: 1;
            border-color: transparentize($dropify-text-color, 0.3);
            color: $dropify-text-color;
        }

        &.has-preview {
            .dropify-message {
                display: none;
            }
        }

        &:hover {
            .dropify-preview {
                .dropify-infos {
                    .dropify-infos-inner {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

@keyframes stripes {
  from { background-position: 0 0; }
  to   { background-position: 60px 30px; }
}
